.layout-3-column {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    justify-content: center;
    align-items: center;
    column-gap: 116px;
    @include media-tablet {
        grid-template-columns: repeat(2, 281px);
        column-gap: 106px;
    }
}
