.navigation {
    display: flex;
    
}
.navigation__link {
    list-style: none;
    padding: 0 44px;
    font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 50px;
/* identical to box height, or 312% */


color: #010201;
}