.tags {
    display: flex;
    cursor: pointer;
    @include media-mobile {
        flex-wrap: wrap;
        gap: 12px;
    }
}

.tag__selected {
    background-color: $color-selected;
    color: #fff;

}
.tag__bordered {
    @include media-tablet {
        color: #E06733;
        
    }
}
.tag {
    width: 161px;
    padding: 12px 0px;
    text-align: center;
    border: 1px solid $color-bordered;
    border-radius: 5px;
    @extend %font-add;
    @include font($size: 1.25rem, $height: 1.625rem, $weight: 400);
   
    @include media-mobile {
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        width: 115px;
        padding: 5px 0px;
    }
    &:hover {
        background-color: #E06733;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
}
.tags >* {
    margin-right: 38px;
    @include media-tablet {
        margin-right: 35px;
    }
    @include media-mobile {
        margin-right: 0px;
    }
}