.contact-us {
    padding-top: 46px;
    background: $color-background;
    @include media-tablet {
        padding-top: 40px;
    }
    @include media-mobilessmall {
        padding-top: 25px;
    }
}
.contact-us__wrapper {
    display: flex;  
    justify-content: space-between;
    // position: relative;
    @include media-tablet {
        justify-content: center;
        flex-direction:column-reverse;
        align-items: center;
        // position: static;
    }
}
.contact-us__content {
    display: flex;
    @include media-tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
.contact-us__title {
    @extend %font-add;
    @include font($size: 2.5rem, $height: 3.25rem, $weight: 400);
    padding-top: 18px;
    padding-right: 69px;  
    color: #499A18;
    margin: 0;
        @include media-tablet {
            padding: 0;
            margin-bottom: 100px;
        }
        @include media-mobilessmall {
            font-family: 'Inika';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 33px;
            text-align: center;
            margin-bottom: 86px;
        }
}
.contact-us__img {
    padding-left: 106px;
    @include media-tablet {
        width: 200px;
        padding-left: 19px;
    }
    @include media-mobilessmall {
        width: 100px;
        padding-left: 104px;
        padding-right: 111px;
    }
}    
.box {
    // position: absolute;
    padding-right: 108px;
    padding-top: 105px;
    @include media-tablet {
        padding: 0;
        margin-bottom: 250px;
    }
    @include media-mobilessmall {
        margin-bottom: 128px;
    }
}
.box select{
    width: 450px;
    height: 50px;
    padding: 10px;
    @include font($size: 1.25rem, $height: 2.5rem, $weight: 400);
    letter-spacing: 0.05em;
    color: #717171; 
    border: none;  
    outline: none;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include media-tablet {
        padding: 0px;
        padding-left: 18px;
    }
    @include media-mobilessmall {
        width: 300px;
        padding-left: 15px;
    }
}  
//   .box::before {
// 	content: "\f150";
// 	position: absolute;
// 	top: 0px;
// 	right: 0px;
// 	width: 16px;
// 	height: 16px;
//     border-radius: 100%;
// 	text-align: center;
// 	line-height: 50px;
// 	background: #AEA1A1;
// 	pointer-events: none;
//     font-size: 28px;
// }