.contact-us {
    padding-top: 46px;
    background: $color-background;
}
.contact-us__wrapper {
    display: flex;  
    justify-content: space-between;
    position: relative;
    @include media-tablet {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: static;
    }
}
.contact-us__title {
    position: absolute;
    right: 569px;
   @extend %font-add;
   @include font($size: 2.5rem, $height: 3.25rem, $weight: 400);
   color: #499A18;
   margin: 0;
   padding-top: 20px;
   padding-right: 57px;
   @include media-tablet {
    padding: 0;
   }
}
.contact-us__img {
    padding-left: 106px;
    @include media-tablet {
        width: 200px;
        padding-left: 0px;
    }
}    
.box {
    position: absolute;
    right: 104px;
    padding-top: 108px;
    @include media-tablet {
        padding: 0;
    }
}
.box select{
    width: 450px;
    height: 50px;
    padding: 10px;
    @include font($size: 1.25rem, $height: 2.5rem, $weight: 400);
    letter-spacing: 0.05em;
    color: #717171; 
    border: none;  
    outline: none;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}  
  .box::before {
	content: "\f150";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 16px;
	height: 16px;
    border-radius: 100%;
	text-align: center;
	line-height: 50px;
	background: #AEA1A1;
	pointer-events: none;
    font-size: 28px;
}