.prime {
    padding-top: 81px;
    padding-bottom: 105px;
    @include media-tablet {
        padding-top: 41px;
        padding-bottom: 63px;
    }
    @include media-mobilessmall {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
.prime__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include media-tablet {
        flex-direction: column;
        align-items:flex-start;
    }
    
}
.prime__content {
    padding-left: 30px;
    @include media-tablet {
        padding-left: 0;
    }
}
.prime__img {
    padding-right: 29px;
    @include media-tablet {
        width: 250px;
        padding-left: 226px;
        padding-top: 71px;
    }
    @include media-mobilessmall {
        width: 150px;
        padding: 0;
        padding-left: 108px;
    }
}
.prime__title{
    margin: 0;
    margin-bottom: 40px;
    @include media-tablet {
        font-family: 'Inika';
        // @extend %font-add;
        @include font($size: 35px, $height: 46px,  $weight: 400);
        text-align: center;
        margin-bottom: 48px;
        padding-left: 20px;
    }
    @include media-mobilessmall {
        @include font($size: 25px, $height: 33px,  $weight: 400);
        text-align: center;
        margin-bottom: 13px;
        padding-left: 18px;
    }
}
.prime__text {
    width: 605px;
    @include font($size: 1.25rem, $height: 1.875rem,  $weight: 400);
    color: #636060;
    margin: 0;
    @include media-tablet {
        width: 668px;
        padding-left: 20px;
    }
    @include media-mobilessmall {
        width: 330px;
        text-align: left;
        @include font($size: 15px, $height: 25px,  $weight: 400);
    }
}