.promo {
   padding-top: 66px;
    overflow: hidden;
  
}
.promo__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.promo__content {
    width: 558px;
    
}
.promo__title {
    margin: 0;
    margin-bottom: 42px;
}
.colored__text {
    color:#499A18;
}
.promo__text {
    margin: 0;
    margin-bottom: 44px;
}
