@media screen and (max-width: 500px) {
  .logo {
    width: 100px;
  }
}
body {
  font-family: "Inter", Verdana, sans-serif;
}

.tag, .button-price__contact, .header_logo-text, .contact-us__title, h2 {
  font-family: "Inika", Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

h1 {
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
  color: #717171;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}

h2 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.25rem;
  color: #E06733;
}

p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1875rem;
  color: #636060;
}
@media (max-width: 768px) {
  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }
}

.promo {
  padding-top: 25px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .promo {
    padding-top: 13px;
  }
}

.promo__wrapper {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .promo__wrapper {
    justify-content: flex-start;
  }
}

.promo__content {
  width: 558px;
  padding-top: 46px;
  padding-right: 4px;
}
@media (max-width: 768px) {
  .promo__content {
    width: 341px;
    padding-left: 25px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 47px;
}
@media (max-width: 768px) {
  .promo__title {
    margin-bottom: 32px;
  }
}

.colored__text {
  color: #499A18;
}

.promo__text {
  margin: 0;
  margin-bottom: 43px;
}
@media (max-width: 768px) {
  .promo__text {
    margin-bottom: 41px;
  }
}

.promo__img {
  padding-left: 4px;
  padding-bottom: 32px;
  top: -100px;
}
@media (max-width: 768px) {
  .promo__img {
    display: none;
  }
}

.prime {
  padding-top: 81px;
  padding-bottom: 105px;
}
@media (max-width: 768px) {
  .prime {
    padding-top: 41px;
    padding-bottom: 63px;
  }
}

.prime__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .prime__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

.prime__content {
  padding-left: 30px;
}
@media (max-width: 768px) {
  .prime__content {
    padding-left: 0;
  }
}

.prime__img {
  padding-right: 29px;
}
@media (max-width: 768px) {
  .prime__img {
    width: 250px;
    padding-left: 226px;
    padding-top: 71px;
  }
}

.prime__title {
  margin: 0;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .prime__title {
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 48px;
    padding-left: 20px;
  }
}

.prime__text {
  width: 605px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  color: #636060;
  margin: 0;
}
@media (max-width: 768px) {
  .prime__text {
    width: 668px;
    padding-left: 20px;
  }
}

.strategies {
  padding: 0 109px;
  background: #EDF2EC;
  padding-bottom: 63px;
}
@media (max-width: 768px) {
  .strategies {
    padding: 0;
    padding-left: 3px;
    padding-bottom: 31px;
  }
}

.stratigies__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  padding: 35px 109px;
}
@media (max-width: 768px) {
  .stratigies__content {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 39px;
    padding-left: 17px;
  }
}

.strategies__title {
  width: 306px;
  margin: 0;
  margin-right: 136px;
  color: #499A18;
}
@media (max-width: 768px) {
  .strategies__title {
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    margin-right: 0;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

.strategy-wrapper > * {
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .strategy-wrapper > * {
    margin-bottom: 36px;
  }
}

.block-bordered {
  width: 330px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .block-bordered {
    width: 280px;
    height: 450px;
  }
}

.strategy__content {
  padding-top: 10px;
}

@media (max-width: 768px) {
  .strategy__img {
    width: 280px;
    height: 350px;
  }
}

.strategy__name {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #E06733;
  text-align: center;
  margin: 0;
  margin: 10px 10px;
}
@media (max-width: 768px) {
  .strategy__name {
    margin: 0;
  }
}

.strategy__description {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #717171;
  text-align: center;
  margin: 0;
  margin-bottom: 36px;
}
@media (max-width: 768px) {
  .strategy__description {
    width: 213px;
    margin: 0;
    text-align: left;
    padding-left: 38px;
    padding-top: 13px;
  }
}

.strategy {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}

.prices {
  padding: 45px 0 11px 0;
}
@media (max-width: 768px) {
  .prices {
    padding: 42px 0 72px 0;
  }
}

.prices__wrapper {
  display: flex;
  justify-content: space-between;
}

.price-container {
  padding-left: 109px;
}
@media (max-width: 768px) {
  .price-container {
    padding-left: 21px;
  }
}

.name_container {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  color: #000000;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .name_container {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    padding-left: 12px;
  }
}

.price-container__buttons {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.border_container {
  padding: 34px 41px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .border_container {
    padding: 31px 45px;
  }
}

.price__title {
  width: 452px;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  text-align: right;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .price__title {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    width: 296px;
    padding-top: 104px;
    padding-left: 40px;
    text-align: center;
    margin-bottom: 29px;
  }
}

.price-container_right {
  position: relative;
  padding-right: 116px;
  text-align: right;
}

.price-container_right:nth-child(3) {
  padding-left: 50px;
}

.price-img {
  padding-top: 58px;
}
@media (max-width: 768px) {
  .price-img {
    width: 152px;
    height: 174px;
    padding-top: 92px;
    padding-right: 71px;
  }
}

.contact-us {
  padding-top: 46px;
  background: #EDF2EC;
}
@media (max-width: 768px) {
  .contact-us {
    padding-top: 40px;
  }
}

.contact-us__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contact-us__wrapper {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.contact-us__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us__title {
  right: 569px;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.25rem;
  color: #499A18;
  margin: 0;
  padding-top: 20px;
  padding-right: 57px;
}
@media (max-width: 768px) {
  .contact-us__title {
    padding: 0;
    margin-bottom: 100px;
  }
}

.contact-us__img {
  padding-left: 106px;
}
@media (max-width: 768px) {
  .contact-us__img {
    width: 200px;
    padding-left: 19px;
  }
}

.box {
  right: 104px;
  padding-top: 108px;
}
@media (max-width: 768px) {
  .box {
    padding: 0;
    margin-bottom: 250px;
  }
}

.box select {
  width: 450px;
  height: 50px;
  padding: 10px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  color: #717171;
  border: none;
  outline: none;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .box select {
    padding: 0px;
    padding-left: 18px;
  }
}

.header {
  padding: 27px 0px;
}
@media (max-width: 768px) {
  .header {
    padding: 13px 0px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  top: 43px;
  display: flex;
  align-items: center;
  padding-left: 108px;
}
@media (max-width: 768px) {
  .header__logo {
    padding-left: 18px;
  }
}

.header_logo-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
  color: #000000;
  margin: 0;
}

.header__navigation {
  display: flex;
  padding-top: 15px;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
    padding: 0 23px;
  }
}

.footer__wrapper {
  padding-top: 45px;
}
@media (max-width: 768px) {
  .footer__wrapper {
    padding-top: 13px;
  }
}

.footer-title {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  color: #000000;
  margin: 0;
  word-spacing: 14px;
}
@media (max-width: 768px) {
  .footer-title {
    word-spacing: 17px;
  }
}

.footer-title_name {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  color: #000000;
  padding-left: 59px;
  margin: 0;
}
@media (max-width: 768px) {
  .footer-title_name {
    padding: 0;
    padding-bottom: 10px;
  }
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 95px;
}
@media (max-width: 768px) {
  .navigation {
    padding-right: 0;
  }
}

.navigation__link {
  list-style: none;
  padding: 0 24px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  /* identical to box height, or 312% */
  color: #010201;
}

.button_bordered {
  border: 1px solid #E06733;
  border-radius: 5px;
  padding: 12px 28px 13px 21px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #000000;
}
@media (max-width: 768px) {
  .button_bordered {
    padding: 12px 22px 8px 21px;
  }
}

.button-price {
  margin-bottom: 7px;
}

.button-promo {
  margin-bottom: 126px;
}
@media (max-width: 768px) {
  .button-promo {
    margin-bottom: 96px;
  }
}

.button-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
  background: #EDF2EC;
  border-radius: 20px;
  border: 1px solid #EDF2EC;
  padding: 16px 40px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  color: #000000;
  margin: 0;
}

.button-price__contact {
  padding: 12px 33px 12px 30px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem;
  text-align: center;
  color: #E06733;
  position: absolute;
  right: 109px;
}
@media (max-width: 768px) {
  .button-price__contact {
    padding: 12px 38px 12px 30px;
    right: 114px;
  }
}

.layout-3-column {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  justify-content: center;
  align-items: center;
  column-gap: 116px;
}
@media (max-width: 768px) {
  .layout-3-column {
    grid-template-columns: repeat(2, 281px);
    column-gap: 106px;
  }
}

.layout-3-column__footer {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  justify-content: center;
  align-items: center;
  column-gap: 116px;
}
@media (max-width: 768px) {
  .layout-3-column__footer {
    display: flex;
    flex-direction: column;
  }
}

.tags {
  display: flex;
  cursor: pointer;
}

.tag__selected {
  background-color: #E06733;
  color: #fff;
}

@media (max-width: 768px) {
  .tag__bordered {
    color: #E06733;
  }
}

.tag {
  width: 161px;
  padding: 12px 0px;
  text-align: center;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

.tags > * {
  margin-right: 38px;
}
@media (max-width: 768px) {
  .tags > * {
    margin-right: 35px;
  }
}

.ico {
  display: inline-block;
}

.ico_arrow {
  background-image: url("../img/svg/arrow.svg");
  width: 6px;
  height: 4px;
}

.ico-circle {
  background: #D9D9D9;
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.icons-social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 139px;
  gap: 20px;
}
@media (max-width: 768px) {
  .icons-social {
    padding: 0;
  }
}

.ico_insta {
  background-image: url("../img/svg/inst.svg");
  width: 32px;
  height: 32px;
}

.ico_facebook {
  background-image: url("../img/svg/fb.svg");
  width: 32px;
  height: 32px;
}

.ico_twitter {
  background-image: url("../img/svg/tw.svg");
  width: 32px;
  height: 32px;
}

.ico_pinterest {
  background-image: url("../img/svg/pinterest.svg");
  width: 32px;
  height: 32px;
}

/*# sourceMappingURL=style.css.map */
