.ico {
    display: inline-block;
}
.ico_arrow {
    background-image: url('../../../img/svg/arrow.svg');
    width: 6px;
    height: 4px;
}
.ico-circle {
    background: #D9D9D9;
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}
.icons-social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 139px;
    gap: 20px;
    cursor: pointer;
    @include media-tablet {
        padding: 0;
    }
}
.ico_insta {
    background-image: url('../../../img/svg/inst.svg');
    width: 32px;
    height: 32px;
}
.ico_facebook {
    background-image: url('../../../img/svg/fb.svg');
    width: 32px;
    height: 32px;
}
.ico_twitter {
    background-image: url('../../../img/svg/tw.svg');
    width: 32px;
    height: 32px;
}
.ico_pinterest {
    background-image: url('../../../img/svg/pinterest.svg');
    width: 32px;
    height: 32px;
}