$color-additional: #E06733;
$color-primary: #499A18;
$color-link: #010201;
$color-border: #E06733;
$color-heading: #717171;
$color-background: #EDF2EC;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;