@media screen and (max-width: 500px) {
  .logo {
    width: 100px;
  }
}
body {
  font-family: "Inter", Verdana, sans-serif;
}

.tag, .button-price__contact, .navigation__link, .header_logo-text, .contact-us__title, h2 {
  font-family: "Inika", Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

h1 {
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
  }
}
@media (max-width: 414px) {
  h1 {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
  }
}

h2 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.25rem;
  color: #E06733;
}
@media (max-width: 768px) {
  h2 {
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
  }
}
@media (max-width: 414px) {
  h2 {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
  }
}

h4 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.promo {
  padding-top: 25px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .promo {
    padding-top: 13px;
  }
}
@media (max-width: 414px) {
  .promo {
    padding-bottom: 17px;
  }
}

.promo__wrapper {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .promo__wrapper {
    justify-content: flex-start;
  }
}

.promo__content {
  max-width: 558px;
  padding-top: 46px;
}
@media (max-width: 768px) {
  .promo__content {
    max-width: 341px;
    padding-left: 25px;
  }
}
@media (max-width: 380px) {
  .promo__content {
    padding-top: 15px;
    padding-left: 18px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 47px;
  color: #717171;
}
@media (max-width: 768px) {
  .promo__title {
    margin-bottom: 32px;
  }
}
@media (max-width: 414px) {
  .promo__title {
    width: 330px;
    margin-bottom: 23px;
  }
}

.colored__text {
  color: #499A18;
}

.promo__text {
  width: 534px;
  margin: 0;
  margin-bottom: 45px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1875rem;
  color: #636060;
}
@media (max-width: 768px) {
  .promo__text {
    width: 341px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 41px;
  }
}
@media (max-width: 414px) {
  .promo__text {
    margin-bottom: 27px;
  }
}

.promo__img {
  padding-left: 4px;
  padding-bottom: 32px;
  top: -100px;
}
@media (max-width: 768px) {
  .promo__img {
    display: none;
  }
}

.prime {
  padding-top: 81px;
  padding-bottom: 105px;
}
@media (max-width: 768px) {
  .prime {
    padding-top: 41px;
    padding-bottom: 63px;
  }
}
@media (max-width: 414px) {
  .prime {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.prime__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .prime__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

.prime__content {
  padding-left: 30px;
}
@media (max-width: 768px) {
  .prime__content {
    padding-left: 0;
  }
}

.prime__img {
  padding-right: 29px;
}
@media (max-width: 768px) {
  .prime__img {
    width: 250px;
    padding-left: 226px;
    padding-top: 71px;
  }
}
@media (max-width: 414px) {
  .prime__img {
    width: 150px;
    padding: 0;
    padding-left: 108px;
  }
}

.prime__title {
  margin: 0;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .prime__title {
    text-align: center;
    margin-bottom: 48px;
    padding-left: 20px;
  }
}
@media (max-width: 414px) {
  .prime__title {
    margin-bottom: 13px;
    padding-left: 16px;
  }
}

.prime__text {
  width: 605px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  color: #636060;
  margin: 0;
}
@media (max-width: 768px) {
  .prime__text {
    width: 668px;
    padding-left: 20px;
  }
}
@media (max-width: 414px) {
  .prime__text {
    width: 330px;
    text-align: left;
    padding-left: 18px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
}

.strategies {
  padding: 0 109px;
  background: #EDF2EC;
  padding-bottom: 63px;
}
@media (max-width: 768px) {
  .strategies {
    padding: 0;
    padding-left: 3px;
    padding-bottom: 31px;
    padding-top: 57px;
  }
}
@media (max-width: 414px) {
  .strategies {
    padding-top: 28px;
    padding-bottom: 0px;
  }
}

.stratigies__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  padding: 35px 109px;
}
@media (max-width: 768px) {
  .stratigies__content {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 39px;
    padding-left: 17px;
  }
}
@media (max-width: 414px) {
  .stratigies__content {
    margin-bottom: 42px;
    padding-left: 15px;
  }
}

.strategies__title {
  width: 306px;
  margin: 0;
  margin-right: 136px;
  color: #499A18;
}
@media (max-width: 768px) {
  .strategies__title {
    padding-bottom: 42px;
  }
}
@media (max-width: 414px) {
  .strategies__title {
    width: 187px;
    padding-bottom: 40px;
  }
}

.strategy-wrapper > * {
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .strategy-wrapper > * {
    margin-bottom: 36px;
  }
}
@media (max-width: 414px) {
  .strategy-wrapper > * {
    margin-bottom: 32px;
  }
}

.block-bordered {
  width: 330px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .block-bordered {
    width: 280px;
    height: 450px;
  }
}

.strategy__content {
  padding-top: 2px;
  padding-right: 2px;
}

@media (max-width: 768px) {
  .strategy__img {
    width: 280px;
    height: 350px;
  }
}

.strategy__name {
  color: #E06733;
  text-align: center;
  margin: 0;
  margin: 10px 10px;
}
@media (max-width: 768px) {
  .strategy__name {
    margin: 0;
    padding-top: 7px;
  }
}

.strategy__description {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #717171;
  text-align: center;
  margin: 0;
  margin-bottom: 36px;
}
@media (max-width: 768px) {
  .strategy__description {
    width: 213px;
    margin: 0;
    text-align: left;
    padding-left: 36px;
    padding-top: 15px;
  }
}

.strategy {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}
.strategy_hidden {
  display: none;
}

.strategy__header {
  display: none;
}

.article-modal__content .strategy__image {
  width: 100%;
}
@media (max-width: 768px) {
  .article-modal__content .strategy__image {
    position: static;
  }
}
.article-modal__content .strategy__data {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.3rem;
  margin: 0 0 5px;
}
.article-modal__content .strategy__name {
  margin-bottom: 10px;
}
.article-modal__content .strategy__text {
  text-align: left;
  margin: 0 0 12px;
}

.prices {
  padding: 42px 0 11px 0;
}
@media (max-width: 768px) {
  .prices {
    padding: 42px 0 72px 0;
  }
}
@media (max-width: 414px) {
  .prices {
    padding: 17px 0 77px 0;
  }
}

.prices__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .prices__wrapper {
    flex-direction: column;
  }
}

.price-container {
  padding-left: 109px;
}
@media (max-width: 768px) {
  .price-container {
    padding-left: 21px;
  }
}
@media (max-width: 414px) {
  .price-container {
    padding-left: 12px;
  }
}

.name_container {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  color: #000000;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .name_container {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    padding-left: 12px;
  }
}
@media (max-width: 414px) {
  .name_container {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    padding-left: 0px;
    padding-right: 8px;
    margin-bottom: 39px;
  }
}

.price-container__buttons {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
@media (max-width: 768px) {
  .price-container__buttons {
    gap: 25px;
  }
}
@media (max-width: 414px) {
  .price-container__buttons {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.border_container {
  padding: 28px 47px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .border_container {
    padding: 25px 45px;
  }
}
@media (max-width: 414px) {
  .border_container {
    width: 224px;
    padding: 0;
    margin: 0;
    padding: 0;
    margin-left: 58px;
    padding-top: 28px;
    padding-bottom: 20px;
  }
}

.price__title {
  width: 452px;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
  text-align: right;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .price__title {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    width: 296px;
    padding-top: 104px;
    padding-left: 32px;
    text-align: center;
    margin-bottom: 29px;
  }
}
@media (max-width: 414px) {
  .price__title {
    width: 230px;
    padding-top: 17px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    padding-left: 69px;
    margin-bottom: 19px;
  }
}

.price-container_right {
  position: relative;
  padding-right: 108px;
  text-align: right;
}

.price-container_right:nth-child(3) {
  padding-left: 50px;
}

.price-img {
  padding-top: 58px;
}
@media (max-width: 768px) {
  .price-img {
    width: 152px;
    height: 174px;
    padding-top: 92px;
    padding-right: 71px;
  }
}
@media (max-width: 414px) {
  .price-img {
    display: none;
  }
}

.button-price__name {
  display: flex;
  justify-content: space-between;
  gap: 74px;
}

.button-price__text {
  width: 169px;
  height: 30px;
  margin: 0;
  margin: 18px 0 6px;
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
}

.button-price__value {
  width: 123px;
  height: 17px;
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #E06733;
}

.button-price__order {
  margin: 12px 0 12px 0;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 3px 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
}

.contact-us {
  padding-top: 46px;
  background: #EDF2EC;
}
@media (max-width: 768px) {
  .contact-us {
    padding-top: 40px;
  }
}
@media (max-width: 414px) {
  .contact-us {
    padding-top: 25px;
  }
}

.contact-us__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contact-us__wrapper {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.contact-us__content {
  display: flex;
}
@media (max-width: 768px) {
  .contact-us__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.contact-us__title {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.25rem;
  padding-top: 18px;
  padding-right: 69px;
  color: #499A18;
  margin: 0;
}
@media (max-width: 768px) {
  .contact-us__title {
    padding: 0;
    margin-bottom: 100px;
  }
}
@media (max-width: 414px) {
  .contact-us__title {
    font-family: "Inika";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 86px;
  }
}

.contact-us__img {
  padding-left: 106px;
}
@media (max-width: 768px) {
  .contact-us__img {
    width: 200px;
    padding-left: 19px;
  }
}
@media (max-width: 414px) {
  .contact-us__img {
    width: 100px;
    padding-left: 104px;
    padding-right: 111px;
  }
}

.contact-us__select {
  position: relative;
  width: 450px;
  height: 50px;
  margin: 0 auto;
}
.contact-us__select[data-state=active] .contact-us__select__title::before {
  transform: translate(-3px, -50%) rotate(-45deg);
}
.contact-us__select[data-state=active] .contact-us__select__title::after {
  transform: translate(-9px, -50%) rotate(45deg);
}
.contact-us__select[data-state=active] .contact-us__select__content {
  opacity: 1;
}
.contact-us__select[data-state=active] .contact-us__select__label + .contact-us__select__input + .contact-us__select__label {
  max-height: 50px;
  border-top-width: 1px;
}

.contact-us__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}
.contact-us__select__title::after, .contact-us__select__title::before {
  content: "";
  position: absolute;
  top: 34px;
  right: 23px;
  display: block;
  width: 11px;
  height: 2px;
  transition: all 0.3s ease-out;
  background-color: #AEA1A1;
  background-color: #717171;
  transform: translate(-3px, -50%) rotate(-45deg);
}
.contact-us__select__title::after {
  transform: translate(3px, -50%) rotate(45deg);
}
.contact-us__select__title:hover {
  background: #C1E698;
}
.contact-us__select__title:hover::before, .contact-us__select__title:hover::after {
  background: #717171;
  border: 1px solid #D6E7D2;
}

.contact-us__select__content {
  position: absolute;
  top: 66px;
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 8px 16px;
  background-color: #DCE9D9;
  transition: all 0.3s ease-out;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #499A18;
  opacity: 0;
  z-index: 8;
}

.contact-us__select__input {
  display: none;
}
.contact-us__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.contact-us__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  max-height: 0;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}
.contact-us__select__label + input + .contact-us__select__label {
  border-top: 0 solid rgba(199, 204, 209, 0.3764705882);
}
.contact-us__select__label:hover {
  background-color: #C1E698 !important;
  color: #717171;
}

.hamburger__line, .hamburger::after, .hamburger::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #717171;
  border-radius: 5px;
  width: 100%;
  height: 2px;
}

.hamburger {
  display: none;
  position: relative;
  width: 39px;
  height: 20px;
  margin-left: 225px;
}
@media (max-width: 414px) {
  .hamburger {
    z-index: 10;
    display: inline-block;
  }
}
.hamburger::before {
  top: 0;
  left: 0;
}
.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  width: 675px;
  min-height: 120px;
  max-height: 90%;
  overflow: auto;
}

.modal__close-icon {
  background-image: url("../../../img/svg/close-ico.svg");
  width: 21px;
  height: 22px;
  position: absolute;
  top: 30px;
  right: 26px;
  cursor: pointer;
}
.modal__close-icon svg {
  pointer-events: none;
}

.article-modal__content {
  padding: 20px;
}

.strategy__text {
  text-align: center;
}

.header {
  padding: 27px 0px;
}
@media (max-width: 768px) {
  .header {
    padding: 13px 0px;
  }
}
@media (max-width: 414px) {
  .header {
    padding-top: 15px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  top: 43px;
  display: flex;
  align-items: center;
  padding-left: 108px;
}
@media (max-width: 768px) {
  .header__logo {
    padding-left: 18px;
  }
}
@media (max-width: 414px) {
  .header__logo {
    padding-top: 20px;
    padding-left: 15px;
  }
}

.header_logo-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
  color: #000000;
  margin: 0;
}

.header__navigation {
  display: flex;
  padding-top: 15px;
}
@media (max-width: 414px) {
  .header__navigation {
    display: block;
  }
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
    padding: 0 23px;
  }
}
@media (max-width: 414px) {
  .wrapper {
    max-width: 380px;
    padding: 0;
  }
}

.footer__wrapper {
  padding-top: 45px;
}
@media (max-width: 768px) {
  .footer__wrapper {
    padding-top: 13px;
  }
}
@media (max-width: 414px) {
  .footer__wrapper {
    padding-top: 9px;
  }
}

.footer-title {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  color: #000000;
  margin: 0;
  word-spacing: 14px;
}
@media (max-width: 768px) {
  .footer-title {
    word-spacing: 16px;
  }
}

.footer-title_name {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  color: #000000;
  padding-left: 59px;
  margin: 0;
}
@media (max-width: 768px) {
  .footer-title_name {
    padding: 0;
    padding-bottom: 10px;
  }
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 95px;
}
.navigation .navigation__link:nth-child(1) {
  color: #E06733;
}
@media (max-width: 768px) {
  .navigation {
    padding-right: 0;
  }
}
@media (max-width: 414px) {
  .navigation {
    display: block;
    margin: 0;
    text-align: center;
    padding: 0;
  }
}

.navigation__link {
  list-style: none;
  padding: 0 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  color: #010201;
  cursor: pointer;
}
.navigation__link:hover {
  color: #E06733;
}

@media (max-width: 414px) {
  .header__navigation {
    position: fixed;
    top: 74px;
    right: 0;
    width: 100%;
    background: #EDF2EC;
    margin-top: 0px;
    padding: 36px 0;
    transition: all 0.3s ease 0s;
    transform: translate(-100%, 0);
    z-index: 10;
  }
}

@media (max-width: 414px) {
  .header__navigation._active {
    transform: translate(0, 0);
  }
}

#sandwichmenu._active {
  top: 0;
  transform: rotate(90deg);
}

button:hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.button_bordered {
  border: 1px solid #E06733;
  border-radius: 5px;
  padding: 12px 28px 13px 21px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  color: #000000;
}
@media (max-width: 768px) {
  .button_bordered {
    padding: 12px 22px 8px 21px;
  }
}

.button-promo {
  padding: 11px 24px 12px 29px;
  border: 2px solid #E06733;
  border-radius: 10px;
  margin-bottom: 128px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 768px) {
  .button-promo {
    padding: 9px 21px 12px 25px;
    margin-bottom: 93px;
  }
}
@media (max-width: 414px) {
  .button-promo {
    padding: 6px 13px;
    border: 2px solid #E06733;
    border-radius: 10px;
    margin-bottom: 11px;
    font-size: 14px;
  }
}

.button-price {
  display: flex;
  gap: 54px;
  background: #EDF2EC;
  border-radius: 20px;
  border: 1px solid #EDF2EC;
  padding: 16px 56px 16px 33px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  color: #000000;
  margin: 0;
  margin-bottom: 7px;
}
@media (max-width: 414px) {
  .button-price {
    width: 180px;
    padding: 13px 12px 13px 27px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
  }
}
.button-price.opened {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 16px 40px 0 40px;
  background: #D6E7D2;
}

.button-price__contact {
  padding: 12px 33px 12px 30px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem;
  text-align: center;
  color: #E06733;
  position: absolute;
  right: 109px;
}
@media (max-width: 768px) {
  .button-price__contact {
    padding: 10px 38px 11px 30px;
    right: 105px;
  }
}
@media (max-width: 414px) {
  .button-price__contact {
    padding: 8px 25px 4px 23px;
    right: 121px;
    font-family: "Inika";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }
}

.layout-3-column {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  justify-content: center;
  align-items: center;
  column-gap: 116px;
}
@media (max-width: 768px) {
  .layout-3-column {
    grid-template-columns: repeat(2, 281px);
    column-gap: 106px;
  }
}
@media (max-width: 414px) {
  .layout-3-column {
    display: flex;
    flex-direction: column;
  }
}

.layout-3-column__footer {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  justify-content: center;
  align-items: center;
  column-gap: 116px;
}
@media (max-width: 768px) {
  .layout-3-column__footer {
    display: flex;
    flex-direction: column;
    column-gap: 0;
  }
}

.tags {
  display: flex;
  cursor: pointer;
}
@media (max-width: 414px) {
  .tags {
    flex-wrap: wrap;
    gap: 12px;
  }
}

.tag__selected {
  background-color: #E06733;
  color: #fff;
}

@media (max-width: 768px) {
  .tag__bordered {
    color: #E06733;
  }
}

.tag {
  width: 161px;
  padding: 12px 0px;
  text-align: center;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}
@media (max-width: 414px) {
  .tag {
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    width: 115px;
    padding: 5px 0px;
  }
}
.tag:hover {
  background-color: #E06733;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.tags > * {
  margin-right: 38px;
}
@media (max-width: 768px) {
  .tags > * {
    margin-right: 35px;
  }
}
@media (max-width: 414px) {
  .tags > * {
    margin-right: 0px;
  }
}

.ico {
  display: inline-block;
}

.ico_arrow {
  background-image: url("../../../img/svg/arrow.svg");
  width: 6px;
  height: 4px;
}

.ico-circle {
  background: #D9D9D9;
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.icons-social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 139px;
  gap: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .icons-social {
    padding: 0;
  }
}

.ico_insta {
  background-image: url("../../../img/svg/inst.svg");
  width: 32px;
  height: 32px;
}

.ico_facebook {
  background-image: url("../../../img/svg/fb.svg");
  width: 32px;
  height: 32px;
}

.ico_twitter {
  background-image: url("../../../img/svg/tw.svg");
  width: 32px;
  height: 32px;
}

.ico_pinterest {
  background-image: url("../../../img/svg/pinterest.svg");
  width: 32px;
  height: 32px;
}

/*# sourceMappingURL=style.css.map */
